#div1 {
	width: 900px;
	height: 600px; 
	position: relative;
	background-color: #333366;
}

#div2 {
	position: absolute;
	top: 300px;
	left: 450px;
	-webkit-transition: 0.4s;
}

img {
	position: absolute;
	width: 100%;
}

a {
	position: absolute;
	display: block;
	target-new: tab ! important;
	-webkit-transition: 0.4s;
}
